body{
    background-image: url(https://i.pinimg.com/564x/57/34/cd/5734cd78eeea17daf74505ac11be9a67.jpg);
}
#t1{

    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 80%;
    margin: 0% 10% 10px;
    height: 40px;
    background-color:rgb(255, 0, 98);
    clear: both;
    text-decoration: overline;
}
#t2{

    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 20%;
    margin: 0% 40% 0px;
    height: 100px;
    background-color:rgb(255, 189, 189);
    clear: both;
    align-items: center;
}
#piePagina{
    color: black;
    text-align: center;
    border-radius: 5px;
    width: 50%;
    margin: 60% 25% 10px;
    height: 50px;
    background-color:rgb(255, 255, 255);
    clear: both;
    align-items: center;
}